---
title: '[Technical Test Results]'
source_url: core.tech.slot.base/workproducts/technical_test_results_slot_7B0CA334.html
type: Artifact
uma_name: technical_test_results_slot
page_guid: _fahB0EfUEdyiPI8btkmvmw
keywords:
- results
- technical
- test
related:
  workproducts:
  - test-log
---


 This slot serves as an abstraction of high level artifacts that define the results of testing the hardware and software for the system being developed.
---

Relationships

Fulfilling Work Products|
  * [Test Log](../../common/workproducts/test-log.md)
---|---
Tasks| Input To:
  * [Assess Results](../../../practice-management/iterative_dev/tasks/assess-results-1.md)

| Output From:
